<<<<<<< HEAD
/* To do: locally scoping css */

=======
>>>>>>> 672904ca9f2fdc2782434e9058fa109a3b877cbb
html, body {
  font-family: sans-serif;
  color: rgb(59, 65, 68);
  background-color: white;
  font-size: 16px;
  line-height: 0.5px;
  letter-spacing: 0.8px;
}

<<<<<<< HEAD
/* center entire layout*/
.page-layout {
  max-width: 940px;
  margin: auto;
}

/* Fixes direction of divs to stack ontop of each other*/
.affordability-container {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
}

/* The graph container*/
.graph-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.affordability-table {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 50%; /*  prevent payment type and amount from over lapping*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 16px 0px 16px 16px;
}

.extra-padding{
  padding: 0px 0px 32px;
}
.affordability-text {
  margin-top: 15px;
  padding: 0px 0px 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

/* Calculation monthly mortgage */
.calculation-container {
  padding: 0px 0px 16px;
  font-size: 16px;
  line-height: 1.5;
}

.calculation-text {
  font-weight: bold;
}

.est-payment {
  font-size: 16px;
}


/* pushes financial details inward */
.flex-container-padding {
  /* width: 100%; */
  background-color: rgb(245, 246, 247);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
}

/*Grid component*/
/* fixes alignment of financial detail component so it displays horizontally*/
.grid-container-padding {
  display: flex;
  flex-wrap: wrap;
}

/* fixes padding between each cell box and seperates range sldier from connecting*/
.grid-container-padding > .grid-cell-box {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 9px 0px;
}

/* home price, down payment, ..., loan type*/
/* fixes `down payment` words collapsing into eachother*/
.financial-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  min-height: 48px;
}

/* stacks divs on top of each other and fill up the screen during resize */
/* if anything less than 735pixels wide, then true run this*/
@media all and (max-width: 735px) {
  .grid-container-padding {
    display: flex;
    flex-direction:column;
    width: 300%;
  }
}
/*otherwise, ignore code block*/

@media all and (min-width: 376px){
  .grid-flex {
    width: 33%;
  }
}

.text-container {
  font-size: 15px;
  font-weight: 550;
  line-height: 1.5;
}

/* Home price text area*/
.home-price-input {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 209, 212);
  padding: 8px;
}

/* doesn*/
#homePriceInput:before{
  content: '$';
}

=======
>>>>>>> 672904ca9f2fdc2782434e9058fa109a3b877cbb

/*layout for slider*/
input[type="range"]{
  -webkit-appearance: none;
  background-color: teal;
  width: 100%;
  height: 2px;
  margin-bottom: 2px; /* fixes input field overlapping range slider during resize*/
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: teal;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  /* adds the outer border on the slider thumb*/
  -webkit-box-shadow: 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 5px white;
  box-shadow: 0px 1px 2px 5px white;
}

<<<<<<< HEAD
/*Down payment text area*/
.down-payment-wrapper {
  display: flex;
  justify-content: flex-end; /* connents the left and right payment halves together */
}

/*Left payment textbox*/
.left-split-financial-input {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  padding: 8px;
  border-radius: 8px 0px 0px 8px;
}

/*right payment textbox*/
.right-split-financial-input {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  padding: 8px;
  border-radius: 0px 8px 8px 0px;
}

/*interest rate*/
.interest-rate-input {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  padding: 8px;
}


/* Loan Type*/
.select-container {
  position: relative; /* fixes option width from expanding to whole screen*/
  font-weight: 550;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 8px;
  padding: 8px;
}

/* keeps text and arrow on the same line*/
.drop-down-container{
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

/* add space between arrow and text*/
.drop-down-arrow {
  width: 100%;
  margin: 0px 8px;
}

/* got from trulia*/
.svg-container .svg {
  height: 24px;
}

/* drop down menu*/
.select-input {
  position: absolute; /*options stay relative to select menu's location*/
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 16px;
  line-height: 1.5;
}

/* add border color whenever select tag/input field is clicked*/
.select-container:focus-within{
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: teal;
}

.drop-down-container:focus-within{
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: teal;
}

.home-price-input:focus-within{
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: teal;
}

.left-split-financial-input:focus-within{
  border-width: 3px;
  border-style: solid;
  padding: 8px;
  border-color: teal;
  border-radius: 8px 0px 0px 8px;
}

.right-split-financial-input:focus-within{
  border-width: 3px;
  border-style: solid;
  padding: 8px;
  border-color: teal;
  border-radius: 0px 8px 8px 0px;
}

.interest-rate-input:focus-within{
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: teal;
}

/* univerisal boxing is so cool*/
* {
  box-sizing: border-box;
}
* {
  outline: none;
}


/* The graph container*/
.graph-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.affordability-table {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 50%; /*  prevent payment type and amount from over lapping*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 16px 0px 16px 16px;
}


/* components*/
/* fill div in with table details*/
.seperate-cols {
  width: 100%;
}

/* stacks each table item on top of each other*/
.payment-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

/* fixes space between each child*/
.payment-content {
  width: 100%;
  margin: 0px 8px;
}

/* the circles next to each title */
.payment-title-dot {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

/* font and line spacing*/
.price-text {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1.7px;
  font-weight: 550;
}

.principal-dot{
  background-color: rgb(5, 34, 134);
}

.property-tax-dot{
  background-color:rgb(0, 173, 187);;
}

.home-insurance-dot{
  background-color: rgb(194, 213, 0);
}
.mortgage-ins-dot{
  background-color:rgb(206, 182, 255)
}

/**/
.extra-padding{
  padding: 0px 0px 32px;
}

.other-text {
  width:100%;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1.3px;
}

=======
>>>>>>> 672904ca9f2fdc2782434e9058fa109a3b877cbb
a{
  text-decoration: none;
  color: teal;
  font-size: 14px;
}
<<<<<<< HEAD

.center-cell{
  text-align: center;
  width: 100%;
}

.qualified-center{
  margin: 0px 8px;
  width:100%;
}

.pre-qualified-btn {
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  background-color: teal;
  border-color: transparent;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 1.3px;
  width: 70%;
  border-width: 1px;
}

.pre-qualified-btn:hover{
  color: teal;
  background-color: white;
  border-color: teal;
}

/* if at least 910 or less, then do this*/
@media all and (max-width: 910px) {
  .pre-qualified-container{
    width:100%;
    display: flex;
    flex-direction:column;
  }
  .qualified-center{
    width:100%;
  }

  .pre-qualified-btn{
    width:100%;
  }
}

/*circle*/
.donut-chart-padding {
  margin: 32px 32px 32px 16px;
}

.donut-container {
  width: 280px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: auto;
}

.donut-size {
  width: 280px;
  height: 280px;
}

.donut-label-padding {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
}

.donut-labels {
  flex-direction: column;
  width: auto;
  display: inline-block;
}

.donut-price {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.05;
  align-self: center;
}

.donut-month {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
=======
>>>>>>> 672904ca9f2fdc2782434e9058fa109a3b877cbb
