html, body {
  font-family: sans-serif;
  color: rgb(59, 65, 68);
  background-color: white;
  font-size: 16px;
  line-height: 0.5px;
  letter-spacing: 0.8px;
}


/*layout for slider*/
input[type="range"]{
  -webkit-appearance: none;
  /* background: linear-gradient(to right, rgb(0, 120, 130) 0%, rgb(0, 120, 130) 50%, rgb(205, 209, 212) 50%, rgb(205, 209, 212) 100%); */
  background-color: teal;
  width: 100%;
  height: 2px;
  margin-bottom: 2px; /* fixes input field overlapping range slider during resize*/
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: teal;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  /* adds the outer border on the slider thumb*/
  -webkit-box-shadow: 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 5px white;
  box-shadow: 0px 1px 2px 5px white;
}

a{
  text-decoration: none;
  color: teal;
  font-size: 14px;
}

.pageLayout {
  max-width: 940px;
  margin: auto;
}

.affordabilityContainer {
  display: flex;
  flex-direction: column;
  margin: 32px 0px;
}

.graphContainer {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.affordabilityTable {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 50%; /*  prevent payment type and amount from over lapping*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 16px 0px 16px 16px;
}
